# Site settings
title: Ordina Business Platform Services Tech Blog
email: bps@ordina.be
description: > # this means to ignore newlines until "baseurl:"
metadata:
    author: Ordina Belgium
    keywords: Ordina,BPS,Blog,.Net,SharePoint,O365,Office 365,DevOps,Skype For Business,Exchange
baseurl: "" # the subpath of your site, e.g. /blog/
url: "https://bpsordina.github.io" # the base hostname & protocol for your site
twitter_username: lifeatordinabe
github_username:  ordina-bps
facebook: lifeatordinabe
gems: [jekyll-paginate, jekyll-feed]
# Build settings
markdown: kramdown

sass:
    sass_dir: _sass
    style: compressed

# Pagination
paginate: 10

collections:
    # Needed for our job board
    jobs:
        output: true
        permalink: /jobs/:path/

defaults:
  - scope:
      path: ""
      type: jobs
    values:
      layout: job